:after,
:before {
  box-sizing: border-box;
  border: 0 solid;
}

.container {
  width: 100%;
  padding: 0 0;
  overflow: hidden;
  margin: 0 auto;
}

.footer {
  border-top: #374151;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}
